body{
    height:2000px; 
}

body > div {
    background-color: blanchedalmond;
    position: relative;
    width: 500px;
    height: 1000px;
}

.children {
    height: 100px;
    width: 100px;
    border: 5px solid black;
}

#box1 {
    background-color: red;
    position: relative;
    top: 5px;
    left: 5px;
}

#box2 {
    background-color: yellow;
    position: absolute;
    top: 30px;
    left: 30px;
}

#box3 {
    background-color: green;
    position: sticky;
    top: 5px;
}

div article{
    color: steelblue;
}

#inline-section {
    background-color: aqua;
}

#inline-section > div {
    background-color: blue;
    border: 5px dotted black;
    display: inline;
    color: white;
}

#ib-section {
    background-color: greenyellow;
}

#ib-section > div {
    background-color: green;
    border: 5px dotted black;
    display: inline-block;
    color: white;
    height: 50px;
    width: 50px;
}
#flex-section {
    background-color: palevioletred;
    height: 300px;
    width: 100px;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: baseline;

}

#baseline-section{
    background-color: brown;
    display: flex;

}

#baseline-section > div {
    background-color: orange;
    align-items: center;
}

#tall{
    height: 150px;
}

#short{
    height: 100px;
}
#medium{
    height: 125px;
}

#flex-section > div {
    background-color: red;
    height: 100px;
    width: 100px;
}

footer {
    background-color: darkcyan;
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 30px;
}